replicaCount: 1

image:
  repository: ""
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  enabled: true
  port: 80
  targetPort: 3000

ingress:
  enabled: false
  className: nginx
  host: ""
  clusterIssuer: letsencrypt-prod

env: {}

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
